---
layout: page
permalink: /credits/
title: Credits
description: "Technology Credits"
---
p
	|Thank you to all of the amazing open source developers out there.
p
	|Without your support the internet would be a ghost town.
p
	|This blog design has been properly licensed from {% link http://themeforest.net/ "Themeforest" %}.
p
	|Technology trackbacks:
ul
	li
		|{% link http://jekyllrb.com "Powered by Jekyll" %}
	li
		|{% link http://subtlepatterns.com/grey-washed-wall/ "Subtle Patterns: Grey Washed Wall" %}
	li
		|{% link http://subtlepatterns.com/skewed-print/ "Subtle Patterns: Skewed Print" %}
	li
		|{% link http://subtlepatterns.com/fabric-of-squares/ "Subtle Patterns: Fabric of Squares" %}
	li
		|{% link http://subtlepatterns.com/diagmonds/ "Subtle Patterns: Diagmonds" %}
