//-----------------------------------------------------------------------------------------------
// EFFECT OVERRIDES
//-----------------------------------------------------------------------------------------------
@mixin force-no-border{border-bottom: none !important;}
@mixin force-inline-block{display: inline-block !important;}
@mixin force-capitalize{text-transform: capitalize !important;}
@mixin force-upper-case{text-transform:uppercase !important;}
@mixin force-bottom-padding{padding-bottom: 15px !important;}
@mixin force-text-emphasis{font-weight: bold !important;}
.force-inline-block{@include force-inline-block();}
.force-no-border{@include force-no-border();}
.force-capitalize{@include force-capitalize();}
.force-upper-case{@include force-upper-case();}
.force-bottom-padding{@include force-bottom-padding();}
.force-text-emphasis{@include force-text-emphasis();}
//-----------------------------------------------------------------------------------------------
// THEME OVERRIDES
//-----------------------------------------------------------------------------------------------
.l-submain.bg_fade.black_50:before {
	background-color: initial;
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.w-team-member-description{
	p{
		font-size: 18px;
		word-break: break-word;
		text-align: justify;
	}
}
//----------------------------------------------------------------------
.w-blog-entry-meta-tags .w-tags-item-separator:last-child{
	display: none;
}
//----------------------------------------------------------------------
.business-wrapper{
	p {
		font-size: 18px;
	}
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.g-html blockquote q, .g-html blockquote p {
	margin-bottom: 10px;
}
select, input[type="text"] {
	color: $app-color-white;
	background-color: $app-color-light-black;
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.w-logo-title {
	display: inherit;
}

.w-bloglist {
	border-bottom: none;
	padding-top: 15px;
}
.w-blogpost{
	padding-bottom: 15px;
	.w-tags {
		margin-top: 10px;
	}
}
.w-blog-entry:last-child {
	border-bottom: none;
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.flex-direction-nav li span {
	border-radius: inherit;
}
.w-gallery{
	padding-bottom: 10px;
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@mixin force-image-settings{
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-box-shadow: rgba(0,0,0,0.25) 0 3px 5px;
	-moz-box-shadow: rgba(0,0,0,0.25) 0 3px 5px;
	box-shadow: rgba(0,0,0,0.25) 0 3px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: $app-color-light-white 0.5em solid;
	margin-bottom: .5em;
}
.post-content, .page-content{
	img {
		@include force-image-settings();
	}
}
.force-image-settings{@include force-image-settings();}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.gist-file{
	color: #000 !important;
	.line-pre{
		color: #000 !important;
	}
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.social-share-wrapper {
	ul{
		margin-left: 0;
	}
	ul > li{
		display: inline;
		list-style-type:none;
		margin-left: 0;
	}
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@mixin background($img_name, $position: 0 0, $repeat: no-repeat, $height: 0, $color: false, $cover: false, $fixed: false) {
  background: {
    image: url(asset_path($img_name));
    repeat: $repeat;
    position: $position;
  }
  @if $color {
    background-color: $color;
  }
  @if $height > 0 {
    height: $height;
  }
  @if $cover {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  @if $fixed {
    background-attachment: fixed;
  }
}
.bkgd-texture-one{
	@include background($img_name:"skewed_print.png", $position: top left, $repeat: repeat);
}
.bkgd-texture-two{
	@include background($img_name:"grey_wash_wall.png", $position: top left, $repeat: repeat);
}
.bkgd-texture-two-color{
	h1, p, a{
		color: $app-color-white;
	}
}
.bkgd-texture-three{
	@include background($img_name:"fabric_of_squares_gray.png", $position: top left, $repeat: repeat);
}
.bkgd-texture-four{
	@include background($img_name:"diagmonds.png", $position: top left, $repeat: repeat);
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.career{
	//-----------------------------------------------------------------------------------------------
	.avatar{
		@include background($img_name:"resume/20131208-Hero-Bg.png", $position: center top, $cover: true);
		padding-top: 50px;
		padding-bottom: 50px;
		h1, i, p{
			color: $app-color-white;
		}
		h1{
			font-size:3.5em;
			@include force-upper-case;
		}
		p{font-size:2em;line-height: 1.4;}
		.fa-quote-left, .fa-quote-right{
			vertical-align: super;
			margin: 5px;
			font-size: 15px;
		}
		.fa-quote-left{padding-right: 5px;}
		.fa-quote-right{padding-left: 5px;}
		.team-member-avatar{
			max-width: 500px;
			margin-right: 5px;
		}
		.team-member-data{
			margin-left: 0px;
			max-width: 500px;
		}
		.avatar-image{
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;
			zoom: 1;
			border: 20px solid rgba(0,0,0,0.4);
			img{
				-webkit-border-radius: 225px;
				-moz-border-radius: 225px;
				-ms-border-radius: 225px;
				-o-border-radius: 225px;
				border-radius: 225px;
				width: 100%;
			}
		}
	}
	//-----------------------------------------------------------------------------------------------
	//-----------------------------------------------------------------------------------------------
	.about{
		.g-html blockquote{
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.g-cols {padding-bottom: 15px;}
		.g-cols:last-child,.g-cols:nth-child(2){padding-top: 10px;}
		p{font-size:1.3em;line-height: 1.4;}
		h1{
			font-size:3.5em;
			@include force-upper-case;
		}
		.fa-quote-left{padding-right: 5px;}
		.fa-quote-right{padding-left: 5px;}
		.fa-quote-left, .fa-quote-right{
			vertical-align: super;
			margin: 5px;
			font-size: 15px;
		}
		.fa-code,.fa-apple,.fa-eye,.fa-cloud,.fa-beer,.fa-lightbulb-o{
			font-size: 20px;
			padding-right: 5px;
		}
	}
	//-----------------------------------------------------------------------------------------------
	//-----------------------------------------------------------------------------------------------
	.resume{
		@include background($img_name:"resume/20131208-Timeline-Bg.jpg", $position: center top, $cover: true);
		padding-top: 50px;
		padding-bottom: 50px;
		h1{
			font-size:3.5em;
			@include force-upper-case;
			color: $app-color-black;
		}
		figure{
			img{
				max-height: 16px;
			}
		}
	}
	//-----------------------------------------------------------------------------------------------
	//-----------------------------------------------------------------------------------------------
	.projects{
		@include background($img_name:"resume/20131208-Projects-Bg.png", $position: center top, $cover: true);
		padding-top: 50px;
		padding-bottom: 50px;
		.g-cols:first-child{padding-bottom: 20px;}
		h1, i, p{
			color: $app-color-white;
		}
		p{
			font-size:1.3em;
			line-height: 1.4;
			margin-bottom: 15px;
		}
		h1{
			font-size:3.5em;
			@include force-upper-case;
		}
		.lustocracy-platform, .lustocracy-editorial{
			max-width: 500px;
			padding: 0;
			margin: auto;
		}
		.lustocracy-platform{
			margin-left: auto;
			margin-right: 0;
		}
		.lustocracy-editorial{
			margin-left: 0;
			margin-right: auto;
		}
		.lustocracy-platform-wrapper{
			padding-right: 10px;
		}
		.lustocracy-editorial-wrapper{
			padding-left: 10px;
		}
		.w-portfolio .w-portfolio-item .w-portfolio-item-title{
			text-align: left;
			.product-name{
				font-weight: bold;
			}
			.product-name:after {
				content:"\a";
				white-space: pre;
			}
		}
	}
	//-----------------------------------------------------------------------------------------------
	//-----------------------------------------------------------------------------------------------
	.contact{
		.g-html blockquote{
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.g-cols {padding-bottom: 15px;}
		.g-cols:last-child,.g-cols:nth-child(2){padding-top: 10px;}
		h1, i, p{
			color: $app-color-white;
		}
		p{
			font-size:1.3em;
			line-height: 1.4;
			margin-bottom: 15px;
		}
		h1{
			font-size:3.5em;
			@include force-upper-case;
		}
		.map-canvas{
			height: 400px;
			border-radius: 5px;
		}
	}
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.w-search{
	.search{
		color: #ffffff;
	}
}
.l-sidebar .widget {
	margin-bottom: 25px;
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
.no-touch .avatar-image {
	height: inherit;
	padding-bottom: inherit;
	border-radius: inherit;
	overflow: hidden;
}
.no-touch .w-portfolio-item-meta{
	max-width: 500px;
}
.map-canvas{
	display: inherit;
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@media only screen and (max-width: 1300px) {
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------

}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@media only screen and (max-width: 1023px) {
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------

}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@media only screen and (max-width: 899px) {
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------

}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@media only screen and (max-width: 767px) {
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------


}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@media only screen and (max-width: 599px) {
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------

}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@media only screen and (max-width: 479px) {
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
	.career .avatar h1 {
		font-size: 2.5em;
		text-align: center;
	}
	.career .avatar p {
		font-size: 18px;
		text-align: center;
		line-height: 30px;
	}
	.career {
		.avatar {
			.w-socials-list {
				margin: auto auto;
				padding: 10px;
			}
		}
	}
	.map-canvas{
		display: none;
	}
	.l-subfooter.at_top p {
		font-size: 12px;
	}
}
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@media screen and (-webkit-min-device-pixel-ratio: 2){
	.bkgd-texture-one{
		@include background($img_name:"skewed_print_@2X.png", $position: top left, $repeat: repeat);
	}
	.bkgd-texture-two{
		@include background($img_name:"grey_wash_wall_@2X.png", $position: top left, $repeat: repeat);
	}
	.bkgd-texture-three{
		@include background($img_name:"fabric_of_squares_gray_@2X.png", $position: top left, $repeat: repeat);
	}
	.bkgd-texture-four{
		@include background($img_name:"diagmonds_@2X.png", $position: top left, $repeat: repeat);
	}
}
