---
date: 2014-09-20 17:16 PDT
title: Genghis Kahn And The Power Of Remote Workers
description: Genghis Kahn And The Power Of Remote Workers
image_thumbnail_500x320:
image_thumbnail_500x500:
category:
tags:
published: false
---
Unfinished Draft
p
  |TBD

/! more

Before you read this post, read “Genghis Kahn and the Making of the Modern World” or at a bare minimum read the damn cliff notes...

Let’s start with a little background on Kahn and the text itself.  Weatherford argued that the Mongols were not the evil hell bent destructive force we were all taught to believe in our history books.  In my opinion, he portrayed Kahn and the dynasty as innovators, socially and religiously tolerant, but most importantly they did not seek to conquer the entire world. In many cases the devastation was caused by Western nobles brutally slaughtering trade emissaries.  In addition, Weatherford portrayed Kahn as the underdog. That the Western world, especially the Christians at the time, labeled them as savages.  They did not seek to understand him or his people. This lack of insight, empathy, and sheer amount of hubris cost many nobles and the people they governed their lives.  Before we dive into how and why all of this applies to remote work, let’s review some data points about the Mongols:

Unprecedented religious tolerance.
Low level of discrimination toward other races.
Low level of meddling with local customs and culture.
The idea of rule by consensus within Mongol tribes
Culture of meritocracy.
Culture that believed in the rule of law.
Strong sponsorship of Eurasian trade.
Building of roads to support trade.
First culture to promote universal literacy.
First international postal system.
First widespread use of paper money.
Reduction of the use of torture in the penal system.
Belief in diplomatic immunity for ambassadors/envoys.

You are probably asking yourself, why the fuck am I still reading this lunacy? If you have not read the book, or you are incapable of understanding Weatherford’s reasoning I suggest you move on.  If you still intrigued, let me explain my thought process on why this applies to remote work standing at a desk wearing only underwear.









Generate Breadcrumbs
It is your responsibility to litter the work place with items you are working on and/or may be responsible for.  This means actively participating in your firm’s agile management software i.e. Jira tickets, setting up meeting makers for conference calls or hangouts, but most importantly push code to git every day.  Github commits are a great way to measure how much code an engineer of every skill level is contributing to an organization.  If you are using a proper workflow management process developers can push multiple times per day to their respective branches without generating pull requests for review.  This comforts your remote manager,  your peers, but most importantly the CTO who cuts your check.

If you are unwilling to generate breadcrumbs, you may want to consider single dev opportunities where you can do what you want, or work the 9-5 in a cube.


Hardware and Software
It is your responsibility to manage your local configuration, and you must be able to self support your entire stack.  While in many cases this may equate to your own machine, it also covers the hardware provided for you.  Engineers need to own their workspaces, the IDE or text editor they work in, as well as any configurations they require to work.  This does not mean you should not ask for software purchases you require, but it means you should be comfortable with the command line, full operating system, etc. without having to call a help desk.  Ideally the engineer has their configurations in git so porting to new machines requires little to no downtime.

If you require a help desk or IT Technician to setup your new machine, remote working is not for you.

Equal Pay for Equal Work
=> Reference Remote!


Structure
=> Reference Remote!
