|{% capture site_category_count %}{{ site.categories | size }}{% endcapture %}
|{% if site_category_count != '0' %}
<div class="widget">
	<h4>Categories</h4>
	<div class="w-links">
		<div class="w-links-h">
			<div class="w-links-list">
				{% for category in site.categories %}
					<div class="w-links-item">
						<a class="w-links-anchor" href="{% category_url {{ category[0] }} %}">
							<span class="w-links-anchor-title force-capitalize">{{ category[0] }}</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %}


# Get the current article's category
category = current_resource.data.category

# Other articles that share the same category
category_articles = blog.articles.select {|a| a.data.category == category && a != current_resource }


blog.articles.select {|a| a.data.category }

# Reverse-sorted by date
sorted_category_articles = category_articles.sort_by {|a| a.date }.reverse

# Top 5
latest_category_articles = sorted_category_articles.first(5)
Now you can loop over latest_category_articles and print them out:

<ul>
<% latest_category_articles.each do |article| %>
   <li><%= link_to article.title, article %></li>
<% end %>
</ul>
