---
title: "Hough Eggnog Martini"
description: "Hough Eggnog Martini"
image_thumbnail_500x320: "EggnogMartinix320.jpeg"
image_thumbnail_500x500: "EggnogMartinix500.jpeg"
category: life
tags: cocktails, recipe
---
p
  |If you are looking for a killer holiday cocktail, give this a try!

/! more

p
  = post_image("EggnogMartini.jpeg")
br
|Oberweis Eggnog: 1.5-2
br
|Stoli Vanilla: 1.5-2
br
|Disaronno Amaretto: 1-1.5
br
|Godiva Dark Chocolate: 1-1.5
br
|Godiva White Chocolate: 1-1.5
br
|Nutmeg
br
|*can also add vanilla extract to the shaker for an extra vanilla taste
|*#s are the measurements in a full size bar shot glass

p
  |Over the holidays I modified this into an outstanding blend, instead of using a martini glass I used the following:

ol
  li
    |Filled a low ball crystal glass half way with Oberweis Eggnog
  li
    |Prepped the Large Martini Shaker with Ice
  li
    |Poured the glass of eggnog into the shaker
  li
    |add 2-2.5 shots full of Stoli Vanilla
  li
    |add 2-2.5 shots full of Godiva Dark Chocolate Liquor
  li
    |add 2-2.5 shots full of Godiva White Chocolate Liquor
  li
    |add 1 shot of Disaronno Amaretto
  li
    |add a splash of vanilla extract
  li
    |shake to blend all of the contents
  li
    |pour back into the glass
  li
    |sprinkle the top of the drink with nutmeg covering 70-90% of the top
  li
    |Enjoy.

p
  |The key to the mix is the amount of eggnog, the less you use the more booze you will taste. Its a fine balance, but I found that using at least 5-7shots of eggnog blended well and practically eliminated the taste of any alcohol.
