---
title: "Programmers Are Fat"
description: "Programmers Are Fat"
image_thumbnail_500x320: "ProgrammersAreFatx320.JPG"
image_thumbnail_500x500: "ProgrammersAreFatx500.JPG"
category: life
tags: fitness
---
p
  |If you&rsquo;ve arrived at my post angry and pissed off about the title, welcome.&nbsp; It was sensational, now I hope you stick around to read the rest of my thoughts. &nbsp;
/! more
p
  = post_image("ProgrammersAreFat.JPG")

p
  |I have battled my weight throughout my entire human existence.&nbsp; The battle has been difficult, long, and I usually lose everything but the weight. Let&rsquo;s face it - when you are writing code, creating a new design, a digital piece of art, or working on your next startup business objectives, you are usually sitting on your ass.&nbsp; The latest craze is standing desks, but they really do not solve the problem.&nbsp; The underlying problem is inactivity. &nbsp;
p
  |I put a post up on facebook that created a bit of a stir when I stated that if you are not making fitness a priority in your life alongside your startup, code, and design you are doing it wrong.&nbsp; I stand by this statement.&nbsp; I love to eat, and the choices I have made increased the size of my ass past the point that I consider acceptable. This may sound a bit vain, and it is.&nbsp; While we are busy solving problems or creating the next facebook our bodies are slowly breaking down.&nbsp; Why are we so bad at seeing this problem before it becomes harder and harder to solve?&nbsp; Is it something we choose to ignore and hide behind the &ldquo;geek&rdquo; cloak? &nbsp;
p
  |Fitness is not hard.&nbsp; Yes it is far easier if you live in communities like Boulder or Portland, but one could argue you can go for a jog anywhere.&nbsp; I believe that being fit has to be a top priority.&nbsp; When you are at your peak, your mind is clear and ready to battle.&nbsp; I like to think of my brain as a well tooled machine, and the type of fuel I choose can either increase performance or hinder it. &nbsp;
p
  |After two weeks of regular workouts including multiple doubles, I am openly committing to getting back on the fitness horse.&nbsp; I wasted too much time in NYC getting to where I am today, essentially erasing all of the progress I made in Boulder.&nbsp; In Portland, I am committing myself once again to the initiative I had in Boulder.&nbsp; I believe that having a body tuned like Ferrari is not a bad thing.&nbsp; It is possible, and in fact our duty.&nbsp; We work hard to create the best software, the best piece of art, why not view our bodies the same way? Why sacrifice ourselves in the process?
p
  |I know my hardest challenge is food.&nbsp; Many of you have the same struggle. I am not talking about GMOs, rather just plain heavy foods.&nbsp; I grew up in the Midwest, the land of cheeseburgers and sausages and I learned how to eat.&nbsp; I&rsquo;m conditioned to eat more than I need in a single meal. &nbsp;
p
  |This message is not meant to convince you. Make your own choice.&nbsp; Yes, everyone has different circumstances that may make fitness harder or easier, but tell me when fitness has caused a detriment in someone&rsquo;s life.&nbsp; Let&rsquo;s be honest, most people are fat, or overweight in some way.&nbsp; We have grown to accept this reality to the point where the person of normal weight gets judged like they are abnormal. &nbsp; What is wrong with us?&nbsp; Now, I am not Tony Robbins, and I will never claim to be like him.&nbsp; I state my opinions, and I will tell you to &ldquo;Fix your shit!&rdquo;&nbsp; Not every kid is meant to get a trophy, so I am sorry if I sound tough when I say that it&rsquo;s our responsibilities to fix our fat asses. No one else&rsquo;s. &nbsp;
p
  |I am publicly committing to this renewed objective in my life.&nbsp; I have not forgotten about it.&nbsp; After spending time in Boulder, where I lived the lightest in my life, I am ready to feel that way again.&nbsp; It feels great.
p
  |At the end of the day, you will make your own decisions.&nbsp; These decisions will increase your waist line or decrease it.&nbsp; Do not hide behind the geek cloak. It&rsquo;s being a geek that makes you overweight, it&rsquo;s your life choices. So join me and put down that Mt. Dew.&nbsp;
p
  |This photo starts month 1 @ 205lbs. &nbsp;My goal 165.&nbsp;
