---
title: "Hacking a Standing Desk"
description: "Hacking a Standing Desk"
image_thumbnail_500x320: "standingdeskx320.JPG"
image_thumbnail_500x500: "standingdeskx500.JPG"
category: ideas
tags: hacks
---
p
  |I know there are many variations for standing desk solutions online, but after tons of research, none of them met my needs.
  /! more
  |Yes, I like #{link_to("Geek Desks", "http://www.geekdesk.com/", target: "_blank")} and #{link_to("Anthro Carts", "http://www.anthro.com/", target: "_blank")} but they are way expensive and are pretty ugly.  I loved my old school tanker desk, especially for drawing so I needed something to adapt to it. While I am not a huge fan of #{link_to("IKEA", "http://www.ikea.com/us/en/", target: "_blank")} they offered a great price to benefit ratio on my proposed configuration.  This cost me $25, not counting labor.
p
  |Components required:
ul
  li
    |$9.99 - #{link_to("LACK", "http://www.ikea.com/us/en/catalog/products/40104270/#/80104268", target: "_blank")} Side table, black-brown
  li
    |$14.99 - #{link_to("CAPITA", "http://www.ikea.com/us/en/catalog/products/20049538/", target: "_blank")} Leg, stainless steel
  li
    |Standard sized phillips screwdriver

p
  = post_image("standingdesk2.png")
p
  |This configuration replaces the legs that come with the standard Lack side table reducing the overall height to just over 10 inches, plus there are really only a few steps to complete this.  Merely turn over the lack table and install the 4 Capita legs.  Use a ruler if you wish to be precise, and it also helps to pre-drill the holes.  Do not use a power drill to screw in the legs. TRUST ME, you WILL STRIP the cheap wood the furniture is made out of forcing you to reposition the legs, or worse replace the entire table.  Down the road I am planning on acquiring an #{post_amazon("anti-fatigue mat","B003BYRDKM")} to prevent knee strain and help reduce back pain.
p
  |Here's my setup:
p
  = post_image("standingdesk.JPG")
