---
title: "Cascadia Ruby 2013"
description: "Cascadia Ruby 2013"
image_thumbnail_500x320: "cascadiaruby2013x320.jpg"
image_thumbnail_500x500: "cascadiaruby2013x500.jpg"
category: code
tags: conferences
---

p
  | The more I dive into ruby the more I love the language and the community around it.

  /! more

  | This year I had the opportunity to attend both <a href="/2013/05/04/rails-conference-2013/">Rails Conference</a>[#{link_to("Lanyard", "http://lanyrd.com/2013/railsconf/", target: "_blank")}] and #{link_to("Cascadia Ruby", "http://cascadiaruby.com/", target: "_blank")}[#{link_to("Lanyard", "http://lanyrd.com/2013/cascadiaruby/", target: "_blank")}] locally here in Portland, Oregon. Let me start by saying I loved rails conference and I am much bigger fan of huge blow out events, but there is something very valuable
    about smaller conferences like Cascadia. They kinda feel like a small rural town where everyone knows each other, instead of a
    big city like Chicago where I grew up. This has both positive and negative consequences like cliques and extremely bad wifi,
    but it also allows for a setting to have more time for one on one conversations. Over the course of a few days as a noob I
    had the opportunity to meet quite a few great minds in the industry, make new friends, and learn quite a bit about topics
    directly and indirectly related to code. While I enjoyed each of the topics presented, two of them stood out the most for me.

p
  = post_image("cascadiaruby2013.jpg")
p
  |My favorite code related topic was "#{link_to("Advanced Multithreading in Ruby", "http://lanyrd.com/2013/cascadiaruby/scqmpf/", target: "_blank")}" by
    #{link_to("Jerry D'Antonio", "https://twitter.com/jerrydantonio", target: "_blank")}. I am relatively new to ruby and rails, and I had never been exposed to that level of
    functionality in the language. Multithreading asynchronous processing can be a very powerful ally for applications under load,
    and it goes far beyond using delayed job for processing user sign up emails. In fact, at my day gig we were considering using a
    node.js installation for this type of functionality but I am no longer convinced that node would be the best setup for our
    needs. We can easily use #{link_to("Sidekiq", "http://sidekiq.org/", target: "_blank")} or the suite of other gems to access other functional programming languages like
    clojure inside of the ruby paradigm. Unlike other conferences I have attended, not all of the sessions were just raw code.

p
  |#{link_to("Mando Escamilla’s", "https://twitter.com/mandoescamilla", target: "_blank")} talk
    "#{link_to("Tell Us Another Story, Grandpa: Lessons Learned Over 16 Years as a Developer", "http://lanyrd.com/2013/cascadiaruby/scqmmz/", target: "_blank")}" was by far, one of the best
    I talks have ever heard. As people with analytical minds, we developers look at the world very differently than many people we encounter. We have
    challenges in our personal lives that are a result of our dedication to our craft, our startup, building a business, and our focus. While
    everyone likes to focus on the the huge successes in our field, our lives are faced with choices and not every choice is as rosy as people
    like to communicate. We make sacrifices and sometimes face the harsh consequences of our life choices. Things are not easy, and I applaud
    the strength it too Mando to get up in front of us all and share his story. I learned quite a bit from this presentation, because we all
    have skeletons in the closet right. So what’s on deck?

p
  |Now that 2013 is winding down for me, I am already planning for conferences next year. As of today here are goals for
    2014: Rails Conference, Ruby Conference, Lone Star Ruby Conference, and potentially others. I hope to see you there, just look for the guy in the fedora.
