---
title: "github git hooks"
description: "github git hooks"
image_thumbnail_500x320: "MyConfigx320.png"
image_thumbnail_500x500: "MyConfigx500.png"
category: code
tags: scripts
---
p
  |Recently I spent a small chunk of time exploring what I could do with git hooks.  My goal was to append a message on every commit with the correct git hub url to it's corresponding commit url at git hub.  This was no easy feat from what I discovered and I definitely lost a few hairs over it. In the end, I took on the battle and won.
  /! more
  |If you have been following my #{link_to("Coder Setups", "https://github.com/chrishough/myconfiguration", target: "_blank")} these are three files that are included in my bundle.

p
  |First the git cloning utility properly setups the cloned repo and installs each hook.
p
  = post_gist("8092445", "clone.sh")

p
  |This commit-msg hook automatically adds the branch name and branch description to every commit message.
p
  = post_gist("8092445", "commit_msg_add_branch_name.sh")

p
  |This post-commit hook automatically adds a note to each commit with the correct github url.
p
  = post_gist("8092445", "post_commit_add_github_commit_note.sh")
