---
title: "Hough Chocolate Martini"
image_thumbnail_500x320: "ChocolateMartinix320.png"
image_thumbnail_500x500: "ChocolateMartinix500.png"
category: life
tags: cocktails, recipe
---
p
  |I love cocktails and this is a pure classic. Try it!

/! more

p
  = post_image("ChocolateMartini.png")
br
|Stoli Vanilla: 1.5-2
br
|Godiva Dark Chocolate: 1-1.5
br
|Godiva White Chocolate: 1-1.5
br
|Vanilla Extract
br
|Hershey's Chocolate Syrup
br
br
ol
  li
    |Prep the Large Martini Shaker with Ice
  li
    |add 2-2.5 shots full of Stoli Vanilla
  li
    |add 1-1.5 shots full of Godiva Dark Chocolate Liquor
  li
    |add 1-1.5 shots full of Godiva White Chocolate Liquor
  li
    |add splash (teaspoon) of Vanilla Extract
  li
    |Layer the top of the martini glass with Hershey's Chocolate syrup. Weave Pattern
  li
    |Shake 30sec - 1minute to blend all of the contents
  li
    |Pour into the martini glass using a mesh strainer to catch all of the ice

p
  |Enjoy!!
p
  |If you like this recipe, check out this one: <a href="">Eggnog Martini</a>.
