---
title: "I care"
description: "I care"
image_thumbnail_500x320: spraypaintx320.png
image_thumbnail_500x500: spraypaintx500.png
tags: rants
category: life
---
p
  |What is about some people that makes them care more than others? Whether it’s taking out the garbage, washing their car, building a stick fort for their kids, or groking the latest technology, they put all of their energy into their work.  The older I get, the less patience I have for people who half ass their work, or slack on what they build.  I guess you can say that I have a hard time getting along with those who punch a clock.  I have never believed in such a boring existence.  I just can’t comprehend it.
/! more
p
  strong
    |I care
  |&nbsp;about my wife.  She is my best friend, and she keeps me level headed.  I question any relationship where the partner is not the companion’s best friend.  It’s usually a tell of deeper issues in the relationship.  My second brain has my back and I have hers.  When she let’s me off the leash, I will spring to destroy anything that may harm her.
p
  strong
    |I care
  |&nbsp;about what I work on.  This means I use tools like brakeman, rubocup, codeclimate, and simplecov to name a few to constantly evaluate my code. I use these tools are used in both personal and professional products.  What I produce means something to me. It doesn’t matter if I’m CEO of the company or it’s the gig that I enjoy working at for coin to live.
p
  strong
    |I care
  |&nbsp;about working remote.  I am sorry I will not work for free and I have no interest in working in your office.  I do not need a babysitter. I get my work done. I meet objectives and I love what I do.  There are numerous options out there to support having a fully cohesive organization with peeps scattered all over this wonderful planet.  I believe in it. This works for both design and coding.
p
  strong
    |I care
  |&nbsp;about my close friends and advisors.  I do not give out a seat at my table for free. You have to earn it.  My heart has been bruised enough to learn that those who just randomly dish out pieces of themselves are often the worst ones to let in.  You meet many people along the journey of your life and not everyone will make it to your final destination.
p
  strong
    |I care
  |&nbsp;about art and the creative thinkers.  Just because you downloaded that new shiny music application, it does not mean you know shit about EDM.  Art comes in many forms including the sexy beautiful naked form of our human bodies.
p
  strong
    |I care
  |&nbsp;about the sex industry and sex workers.  Yes, I am an ally and I believe in supporting members of the industry.  Exploring your sexuality, enjoying the companionship of multiple partners whether in the comfort of your own home or the big screen is never something to be ashamed of.
p
  strong
    |I care
  |&nbsp;about being an atheist.  The Richard Dawkins series the “The root of all evil” pretty much sums it up for me.  I often ponder how much farther our civilization would be if the various fictional religious dogmas did not plague our entire planet.
p
  strong
    |I care
  |&nbsp;about helping others who are busting their ass every day just like me.  Nothing should come for free. To the hard workers kicking ass, taking names, and building their dreams at 2am every damn day, I salute you.
