nav[class="w-nav layout_hor"]
	div[class="w-nav-control"]
		i[class="fa fa-bars"]
	ul[class="w-nav-list level_1"]
		/ -----------------------------------------------------------------------------------------------
		li[class="w-nav-item level_1 has_sublevel"]
			a[class="w-nav-anchor level_1" href="/"]
				|{% if page.theme == "home" %}
				|<a class="w-nav-anchor level_1" href="javascript: scroll_to('avatar');" target="_blank">
				|{% else %}
				|<a class="w-nav-anchor level_1" href="{{ site.url }}/">
				|{% endif %}
				|<span class="w-nav-title">Home</span>
				|<span class="w-nav-arrow"></span>
				|</a>
			ul[class="w-nav-list level_2"]
				li[class="w-nav-item level_2 "]
					|{% if page.theme == "home" %}
					|<a class="w-nav-anchor level_2" href="javascript: scroll_to('about');" target="_blank">
					|{% else %}
					|<a class="w-nav-anchor level_2" href="{{ site.url }}/#about">
					|{% endif %}
					|<span class="w-nav-title">About</span>
					|<span class="w-nav-arrow"></span>
					|</a>
				li[class="w-nav-item level_2 "]
					|{% if page.theme == "home" %}
					|<a class="w-nav-anchor level_2" href="javascript: scroll_to('resume');" target="_blank">
					|{% else %}
					|<a class="w-nav-anchor level_2" href="{{ site.url }}/#resume">
					|{% endif %}
					|<span class="w-nav-title">Resume</span>
					|<span class="w-nav-arrow"></span>
					|</a>
				li[class="w-nav-item level_2 "]
					|{% if page.theme == "home" %}
					|<a class="w-nav-anchor level_2" href="javascript: scroll_to('projects');" target="_blank">
					|{% else %}
					|<a class="w-nav-anchor level_2" href="{{ site.url }}/#projects">
					|{% endif %}
					|<span class="w-nav-title">Projects</span>
					|<span class="w-nav-arrow"></span>
					|</a>
				li[class="w-nav-item level_2 "]
					|{% if page.theme == "home" %}
					|<a class="w-nav-anchor level_2" href="javascript: scroll_to('contact');" target="_blank">
					|{% else %}
					|<a class="w-nav-anchor level_2" href="{{ site.url }}/#contact">
					|{% endif %}
					|<span class="w-nav-title">Contact</span>
					|<span class="w-nav-arrow"></span>
					|</a>
		/ -----------------------------------------------------------------------------------------------
		li[class="w-nav-item level_1"]
			|{% assign first_post = site.posts.first %}
			|<a class="w-nav-anchor level_1" href="{{ first_post.url }}">
			|<span class="w-nav-icon"><i class="fa fa-pencil"></i></span>
			|<span class="w-nav-title">Blog</span>
			|<span class="w-nav-arrow"></span>
			|</a>
		/ -----------------------------------------------------------------------------------------------
		li[class="w-nav-item level_1"]
			|<a class="w-nav-anchor level_1" href="{% category_url startups %}">
			|<span class="w-nav-icon"><i class="fa fa-pencil"></i></span>
			|<span class="w-nav-title">Startups</span>
			|<span class="w-nav-arrow"></span>
			|</a>
		/ -----------------------------------------------------------------------------------------------
		li[class="w-nav-item level_1"]
			|<a class="w-nav-anchor level_1" href="{% category_url ideas %}">
			|<span class="w-nav-icon"><i class="fa fa-pencil"></i></span>
			|<span class="w-nav-title">Ideas</span>
			|<span class="w-nav-arrow"></span>
			|</a>
		/ -----------------------------------------------------------------------------------------------
		li[class="w-nav-item level_1 has_sublevel"]
			|<a class="w-nav-anchor level_1" href="{% category_url 'code' %}">
			|<span class="w-nav-icon"><i class="fa fa-pencil"></i></span>
			|<span class="w-nav-title">Code</span>
			|<span class="w-nav-arrow"></span>
			|</a>
			ul[class="w-nav-list level_2"]
				li[class="w-nav-item level_2 "]
					|<a class="w-nav-anchor level_2" href="https://github.com/chrishough/myconfigurations" target="_blank">
					|<span class="w-nav-title">My Configurations</span>
					|<span class="w-nav-arrow"></span>
					|</a>
				li[class="w-nav-item level_2 "]
					|<a class="w-nav-anchor level_2" href="/oss/">
					|<span class="w-nav-title">Open Source</span>
					|<span class="w-nav-arrow"></span>
					|</a>
				li[class="w-nav-item level_2 "]
					|<a class="w-nav-anchor level_2" href="{% tag_url 'conference' %}">
					|<span class="w-nav-title">Conferences</span>
					|<span class="w-nav-arrow"></span>
					|</a>
		/ -----------------------------------------------------------------------------------------------
		li[class="w-nav-item level_1 has_sublevel"]
			|<a class="w-nav-anchor level_1" href="{% category_url 'life' %}">
			|<span class="w-nav-icon"><i class="fa fa-pencil"></i></span>
			|<span class="w-nav-title">Life</span>
			|<span class="w-nav-arrow"></span>
			|</a>
			ul[class="w-nav-list level_2"]
				li[class="w-nav-item level_2 "]
					|<a class="w-nav-anchor level_2" href="/artwork/">
					|<span class="w-nav-title">Artwork</span>
					|<span class="w-nav-arrow"></span>
					|</a>
				li[class="w-nav-item level_2 "]
					|<a class="w-nav-anchor level_2" href="{% tag_url 'rants' %}">
					|<span class="w-nav-title">Rants</span>
					|<span class="w-nav-arrow"></span>
					|</a>
				li[class="w-nav-item level_2 "]
					|<a class="w-nav-anchor level_2" href="{% tag_url 'fitness' %}">
					|<span class="w-nav-title">Fitness</span>
					|<span class="w-nav-arrow"></span>
					|</a>
