<div class="w-search">
	<div class="w-search-h">
		<a class="w-search-show" href="javascript:void(0)"><i class="fa fa-search"></i></a>
		<form class="w-search-form show_hidden" action="https://www.google.com/search">
			<input type="hidden" name="q" value="site:{{ site.search_url }}" />
			<div class="w-search-form-h">
				<div class="w-search-form-row">
					<div class="w-search-label">
						<label for="q">Just type and press 'enter'!</label>
					</div>
					<div class="w-search-input">
						<input id="q" name="q" type="text" value=""/>
					</div>
					<div class="w-search-submit">
						<input type="submit" value="Search" />
					</div>
					<a class="w-search-close" href="javascript:void(0)" title="Close search"> &#10005; </a>
				</div>
			</div>
		</form>
	</div>
</div>
TEST
