---
layout: layout-error
title: "Page Not Found"
reason: "Page not found."
---
p
  |Sorry, but the page you were trying to view does not exist.

p
  = link_to("GO BACK to #{site_title}.com", site_url)
