---
layout: page_archive
---
<div class="w-blog imgpos_atleft meta_tagscomments">
  <div class="w-blog-h">
    <div class="w-blog-list">
      {% for post in site.tags[page.tag] reverse %}
         <div class="w-blog-entry format-standard">
          <div class="w-blog-entry-h">
            <a class="w-blog-entry-link" href="{{ post.url }}">
              <span class="w-blog-entry-preview">
                {% if post.image_thumbnail_500x500 And post.image_thumbnail_500x500 != "" And post.image_thumbnail_500x500 != nil %}
                  <img src="{{ post.image_thumbnail_500x500 | asset_path }}">
                {% else %}
                  {% image 500x500.gif %}
                {% endif %}
              </span>
              <h3 class="w-blog-entry-title">
                <span class="w-blog-entry-title-h">{{ post.title }}</span>
              </h3>
            </a>
            <div class="w-blog-entry-body">
              <div class="w-blog-entry-meta">
                <span class="w-bloglist-entry-date">
                  <i class="fa fa-clock-o"></i>
                  {% slim V2/post/date.slim %}
                </span>
                <div class="w-blog-entry-meta-tags">
                  <i class="fa fa-tags"></i>
                  {% for tag in post.tags %}
                    <a href="{% tag_url tag %}" class="force-capitalize">{{ tag }}</a><span class="w-tags-item-separator">,</span>
                  {% endfor %}
                </div>
              </div>
              <div class="w-blog-entry-short">
                {{ post.content | split:"<!-- more -->" | first % }}
              </div>
              <a class="w-blog-entry-more g-btn type_default outlined size_small" href="{{ post.url }}"><span>Read More</span></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
TEST
